TUYA_ENDPOINT=https://openapi-sg.iotbing.com
TUYA_ACCESS_ID=your_tuya_access_id
TUYA_ACCESS_KEY=your_tuya_access_key
TUYA_DEVICE_ID=your_tuya_device_id

SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REFRESH_TOKEN=your_spotify_refresh_token

POLL_INTERVAL=3
